{% extends 'blog/base.html' %}

{% block title %} | {{article.slug}} {% endblock %}

{% load static %}

{% block main %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{object.thumbnail.url}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>{{object.title}}</h2>
          <h4 style="margin-top: 30px;">{{object.jpublish}}</h4>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto " 
      style="text-align: justify; word-wrap: break-word;word-spacing: initial;font-size: 18px; line-height: 2;list-style-type: persian;letter-spacing: 0;">
        {{object.description | linebreaks}}
      </div>
    </div>
  </div>
</article>


{% endblock %}